<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  <nb-card>
      <div class="btn-group-vertical" *ngFor="let item of data; let i= index">
       <button type="button" (click)="mostrarModulos(item)" class="btn btn-primary">{{item.nombre}}</button>
      </div>

  </nb-card>

      <!--  <div class="nav-side-menu">
          <div class="brand">Programas Academicos</div>
          <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list" *ngFor="let item of data; let i= index">
                <ul id="menu-content" class="menu-content collapse out">
                    <li data-toggle="collapse" [attr.data-target]="'#' + item.id" class="collapsed">
                      <a><i class="fa fa-check fa-lg"></i>{{item.nombre}}<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="{{item.id}}">
                      <li><a>{{item.nombremodulo}}</a></li>
                    </ul>
                </ul>
             </div>
        </div> -->
      <!--  <div class="box-body">
          <div class="contact" *ngFor="let item of data; let i= index">
            <ol>
              <li>{{item.nombre}}
                <ol><br />
                  <li><a>{{item.nombremodulo}}</a></li>
                </ol>
              </li>
            </ol>
          </div>
        </div> -->
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <nb-card size="large">
      <nb-card-header>
        <div class="table-header">
          Lista del Personal
        </div>
      </nb-card-header>

      <nb-card-body class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
               class="table  table-striped row-border hover">
          <thead>
          <tr>
            <th><b>N</b></th>
            <th width="20%">
              <b>Modulo</b>
            </th>
            <th width="20%">
              <b>Modalidad</b>
            </th>
            <th width="20%">
              <b>Grupo</b>
            </th>
            <th width="20%">
              <b>Ambiente</b>
            </th>
            <th width="20%"><b>Evaluacion</b>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of dataP; let i= index">
            <td><b>{{i+1}}</b></td>
            <td><b>{{item.nombremodulo}}</b></td>
            <td><b>{{item.modalidad}}</b></td>
            <td><b>{{item.grupo}}</b></td>
            <td><b>{{item.nombre}}</b></td>
            <td>
              <div class="btn-group" >
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-navicon"></i>
                </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <div *ngFor="let items of item.criterio">
                      <button class="dropdown-item" type="button" data-toggle="modal" data-target="#myModal"
                              (click)="estudiantes(items)">
                        {{items.criterio_nombre}}
                      </button>
                    </div>
                  </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span>ID Criterio: {{dataUnion.criterio_id}}</span>
        <span>ID Detalle: {{dataUnion.detalle_cronograma_id}}</span>
        <button  type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="postEvaluacion(form)" #form="ngForm" >
        <div class="modal-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggers"
                 class="table table-responsive able-striped row-border hover">
            <thead>
            <tr>
              <th width="10%"><b>N</b></th>
              <th width="25%">
                <b>Dni</b>
              </th>
              <th width="50%">
                <b>Estudiante</b>
              </th>
              <th width="15%">
                <b>Nota</b>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of dataDetalleEstudiante; let i= index">
              <td>
                <b>
                  {{i+1}}
                </b>
                <input type="hidden" [(ngModel)]="prueba.inscripcion_id" value="{{item.id}}" #inscripcion_id="ngModel">
                <input type="hidden" [(ngModel)]="prueba.detalle_cronograma_id" value="{{item.detalle_cronograma_id}}"
                       #detalle_cronograma_id="ngModel">
              </td>
              <td><b>{{item.persona.dni}}</b></td>
              <td><b>{{item.persona.nombres}} {{item.persona.app}} {{item.persona.apm}}</b></td>
              <td><input type="text" [(ngModel)]="prueba.valor" class="form-control" placeholder="Nota"
                         #valor="ngModel">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-hero-success">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
